#header-box{
  background-color: #CC444B;
  width: 100%;
  height:20%;
  margin: 0px auto;
  text-align: center;
  color: white;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, .2);
 
}

img{
  width: 10%;
  height:10%;
}

body{
  margin-top: 0px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom: 30px;
  padding: 0px;
  border: 0px;
  outline: 0px;

  background-color: #f7e8e3;
}

#resume-table{
  width: 50%;
  background-color: #EBC6C1;
  align-content: center;
  margin: 0 auto;
  border:1px solid #;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .2), -4px -4px 10px rgba(0, 0, 0, .2);
  
}

#rt{
  background-color: #CC444B;
  color: whitesmoke;
  width: 180px;
  text-emphasis: 5px;
  text-align: right;
  vertical-align: text-top;
  padding-right: 20px;
  font-size: 25px;
  
}

table{
  border-collapse: collapse;
}

li{
  list-style: circle;
}

#slant{
  font-style: italic;
  
}


li{
  list-style: circle;
}

#slant{
  font-style: italic;
  
}


li{
  list-style: circle;
}

#slant{
  font-style: italic;
  
}
